@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Parisienne&display=swap");
.wiggle {
  animation: wiggle 200ms infinite;
  animation-timing-function: linear;
  -webkit-animation: wiggle 200ms infinite;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s; }

.wiggle:hover {
  animation: none; }

@keyframes wiggle {
  0% {
    transform: translate(2px, 0); }
  50% {
    transform: translate(-2px, 0); }
  100% {
    transform: translate(2px, 0); } }
.circle-1 {
  animation: move 1s ease-in-out infinite; }

.circle-1a {
  animation: fade 1s ease-in-out infinite; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.circle-2 {
  animation: move 1s ease-in-out infinite; }

@keyframes move {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(60px); } }
.circle-1a {
  margin-left: -55px;
  opacity: 0; }

.circle-3 {
  animation: circle-3 1s ease-in-out infinite;
  opacity: 1; }

@keyframes circle-3 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
header div, main, main .home_area .container .box_container {
  width: 100%;
  margin: 0;
  overflow: hidden; }

body {
  max-width: 1500px;
  margin: auto;
  font-family: sans-serif; }

/*-----------------------------------------HEADER--------------------------------------------*/
header div {
  height: 100px;
  background-color: #669999;
  text-align: center;
  padding-left: 0; }
  header div nav {
    font-size: 50px;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 2vh; }
    header div nav a {
      text-decoration: none;
      color: #ffcc33;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: 1.5s;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s; }
      header div nav a:hover {
        color: white; }

/*-----------------------------------------PAGE D'ACCEUIL--------------------------------------------*/
main .home_area {
  margin: 100px 100px 200px 100px; }
  @media (max-width: 1199.98px) {
    main .home_area {
      margin-left: 50px;
      margin-right: 50px; } }
  @media (max-width: 991.98px) {
    main .home_area {
      margin-left: 0px;
      margin-right: 0px; } }
  main .home_area .container {
    text-align: center; }
    main .home_area .container .box_container {
      text-align: center; }
      main .home_area .container .box_container .box {
        height: 765px;
        width: 33vw;
        max-width: 100%;
        overflow: hidden;
        margin: 40px 2.5vw;
        display: inline-block;
        border: 4px solid #a39f9f17;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: none; }
        main .home_area .container .box_container .box:hover {
          cursor: pointer; }
        @media (max-width: 1199.98px) {
          main .home_area .container .box_container .box {
            margin: 10px 10px;
            height: 643px; } }
        @media (max-width: 991.98px) {
          main .home_area .container .box_container .box {
            height: 512px; } }
        @media (max-width: 767.98px) {
          main .home_area .container .box_container .box {
            height: 375px; } }
        @media (max-width: 575.98px) {
          main .home_area .container .box_container .box {
            width: 80%;
            height: 650px;
            font-size: x-large; } }
        main .home_area .container .box_container .box .box_info {
          padding-top: 50%;
          margin: 0 auto;
          opacity: 1;
          transition: 1.3s;
          -webkit-transition: 1.3s;
          -moz-transition: 1.3s;
          -ms-transition: 1.3s;
          -o-transition: 1.3s; }
          main .home_area .container .box_container .box .box_info:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            opacity: 0.4; }
          main .home_area .container .box_container .box .box_info h2 {
            color: #222;
            font-weight: 400;
            letter-spacing: 0.05em;
            margin: 40px auto;
            text-transform: uppercase; }
          @media (max-width: 575.98px) {
            main .home_area .container .box_container .box .box_info {
              font-size: x-large; } }
      main .home_area .container .box_container .box_color1 {
        font-family: 'Pacifico', cursive;
        background-color: #ffcccc;
        font-size: 3vw; }
        main .home_area .container .box_container .box_color1 .box_info .fa-music {
          background: linear-gradient(to right, #ff6666 0%, #ff9966 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        main .home_area .container .box_container .box_color1 .box_info .info_1,
        main .home_area .container .box_container .box_color1 .box_info .menu_1 {
          color: #330000; }
      main .home_area .container .box_container .box_color2 {
        font-family: 'Lobster', cursive;
        background-color: #f5d9d961;
        font-size: 3vw; }
        main .home_area .container .box_container .box_color2 .box_info .info_2 {
          background: linear-gradient(to right, #cc9933 0%, #330867 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        main .home_area .container .box_container .box_color2 .box_info .menu_2 {
          color: #cc9933; }
      main .home_area .container .box_container .box_color3 {
        font-family: 'Dancing Script', cursive;
        background-color: #a39f9f1f;
        font-size: 3vw; }
        main .home_area .container .box_container .box_color3 .box_info .info_3 {
          background: linear-gradient(to right, #0033cc 0%, #99ccff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        main .home_area .container .box_container .box_color3 .box_info .menu_3 {
          color: #99ccff; }
      main .home_area .container .box_container .box_color4 {
        font-family: 'Parisienne', cursive;
        background-color: #a39f9f08;
        font-size: 3vw; }
        main .home_area .container .box_container .box_color4 .box_info .info_4 {
          background: linear-gradient(to right, #339933 0%, #ccff66 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        main .home_area .container .box_container .box_color4 .box_info .menu_4 {
          color: #339933; }
    main .home_area .container .wrapper {
      width: 180px;
      margin-left: auto;
      margin-right: auto; }
      main .home_area .container .wrapper .circle {
        border-radius: 50%;
        border: 3px #eee solid;
        float: left;
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
        background-color: #99cbfff7; }
      @media (max-width: 575.98px) {
        main .home_area .container .wrapper {
          display: none; } }
    main .home_area .container button {
      width: 550px;
      height: 80px;
      background-color: #669999;
      max-width: 100%;
      border: none;
      color: #ffcc33;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 3.5vw;
      font-weight: bold;
      transition: 1.5s;
      transition: 1.5s;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s; }
      main .home_area .container button:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        cursor: pointer;
        color: white;
        border: none; }
      @media (max-width: 1199.98px) {
        main .home_area .container button {
          width: 551px;
          height: 99px; } }
      @media (max-width: 991.98px) {
        main .home_area .container button {
          width: 439px;
          height: 79px; } }
      @media (max-width: 767.98px) {
        main .home_area .container button {
          width: 324px;
          height: 58px; } }
      @media (max-width: 575.98px) {
        main .home_area .container button {
          max-width: 70%;
          margin-top: 40px; } }

/*-----------------------------------------FOOTER--------------------------------------------*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 138px;
  background-color: #669999; }
  footer .footer_container {
    width: 100%;
    overflow: hidden;
    padding-top: 5vh; }
    footer .footer_container div:first-child {
      float: left;
      width: 50%;
      padding-left: 0;
      background-color: #669999;
      border: none; }
      footer .footer_container div:first-child a {
        color: #ffcc33;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-style: normal;
        text-decoration: none;
        font-size: 4vw;
        font-weight: bold;
        float: left;
        padding-left: 30px; }
        footer .footer_container div:first-child a:hover {
          color: white; }
    footer .footer_container div:last-child {
      float: right;
      width: 50%;
      padding-right: 0;
      background-color: #669999;
      border: none; }
      footer .footer_container div:last-child a {
        color: #ffcc33;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-style: normal;
        text-decoration: none;
        font-size: 4vw;
        font-weight: bold;
        float: right;
        padding-right: 30px; }
        footer .footer_container div:last-child a:hover {
          color: white; }

/*-----------------------------------------LES PAGES MENUS--------------------------------------------*/
main div.menu_container {
  max-width: 946px;
  padding: 80px 125px 105px 125px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 991.98px) {
    main div.menu_container {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (max-width: 575.98px) {
    main div.menu_container {
      padding-right: 20px;
      padding-left: 20px; } }
  main div.menu_container h2 {
    font-family: sans-serif;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    font-size: 40px; }
  main div.menu_container .menu_area {
    padding: 5.5rem 4rem 6.25rem 4rem;
    background-color: #ffcccc; }
    @media (max-width: 767.98px) {
      main div.menu_container .menu_area {
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media (max-width: 575.98px) {
      main div.menu_container .menu_area {
        font-size: small;
        padding-left: 0.25rem;
        padding-right: 0.25rem; } }
    main div.menu_container .menu_area > div {
      margin-bottom: 5rem; }
    main div.menu_container .menu_area .menu_title,
    main div.menu_container .menu_area .below_title {
      font-size: 2rem; }
  main div.menu_container .note_ench {
    font-family: 'Pacifico', cursive; }
    main div.menu_container .note_ench .menu_title .fa-music {
      background: linear-gradient(to right, #ff6666 0%, #ff9966 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem; }
  main div.menu_container .chic_fr {
    font-family: 'Lobster', cursive;
    background-color: #fdf1f7; }
    main div.menu_container .chic_fr .info_2 {
      background: linear-gradient(to right, #cc9933 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main div.menu_container .delice_pap {
    font-family: 'Dancing Script', cursive;
    background-color: #b6b3c438; }
    main div.menu_container .delice_pap .info_3 {
      background: linear-gradient(to right, #0033cc 0%, #99ccff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main div.menu_container .palette_gout {
    font-family: 'Parisienne', cursive;
    font-size: larger;
    background-color: #d9e0dc38; }
    main div.menu_container .palette_gout .info_4 {
      background: linear-gradient(to right, #339933 0%, #ccff66 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  main div.menu_container .chic_fr .item_1 {
    color: #cc6600; }
  main div.menu_container .chic_fr .item_2 {
    color: #b479ea; }
  main div.menu_container .chic_fr .dessert {
    color: #2e0f84; }
  main div.menu_container .menu_title,
  main div.menu_container .below_title {
    text-align: center; }
  main div.menu_container .below_title .fas,
  main div.menu_container .below_title .info_1 {
    display: inline; }
  main div.menu_container .below_title .fas {
    background: linear-gradient(to right, #ff6666 0%, #ff9966 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main div.menu_container .menu_area .item_1,
  main div.menu_container .menu_area .item_2,
  main div.menu_container .menu_area .item_3,
  main div.menu_container .menu_area .dessert {
    width: 100%;
    overflow: hidden; }
    main div.menu_container .menu_area .item_1 .menu_info div,
    main div.menu_container .menu_area .item_2 .menu_info div,
    main div.menu_container .menu_area .item_3 .menu_info div,
    main div.menu_container .menu_area .dessert .menu_info div {
      width: 100%; }
      main div.menu_container .menu_area .item_1 .menu_info div div:first-child,
      main div.menu_container .menu_area .item_2 .menu_info div div:first-child,
      main div.menu_container .menu_area .item_3 .menu_info div div:first-child,
      main div.menu_container .menu_area .dessert .menu_info div div:first-child {
        width: 80%;
        float: left; }
      main div.menu_container .menu_area .item_1 .menu_info div div:last-child,
      main div.menu_container .menu_area .item_2 .menu_info div div:last-child,
      main div.menu_container .menu_area .item_3 .menu_info div div:last-child,
      main div.menu_container .menu_area .dessert .menu_info div div:last-child {
        width: 20%;
        float: right; }
        main div.menu_container .menu_area .item_1 .menu_info div div:last-child p,
        main div.menu_container .menu_area .item_2 .menu_info div div:last-child p,
        main div.menu_container .menu_area .item_3 .menu_info div div:last-child p,
        main div.menu_container .menu_area .dessert .menu_info div div:last-child p {
          text-align: end; }
    main div.menu_container .menu_area .item_1 .menu_info_2 div,
    main div.menu_container .menu_area .item_1 .menu_info_3 div,
    main div.menu_container .menu_area .item_1 .menu_info_4 div,
    main div.menu_container .menu_area .item_2 .menu_info_2 div,
    main div.menu_container .menu_area .item_2 .menu_info_3 div,
    main div.menu_container .menu_area .item_2 .menu_info_4 div,
    main div.menu_container .menu_area .item_3 .menu_info_2 div,
    main div.menu_container .menu_area .item_3 .menu_info_3 div,
    main div.menu_container .menu_area .item_3 .menu_info_4 div,
    main div.menu_container .menu_area .dessert .menu_info_2 div,
    main div.menu_container .menu_area .dessert .menu_info_3 div,
    main div.menu_container .menu_area .dessert .menu_info_4 div {
      width: 100%; }
      main div.menu_container .menu_area .item_1 .menu_info_2 div div:first-child,
      main div.menu_container .menu_area .item_1 .menu_info_3 div div:first-child,
      main div.menu_container .menu_area .item_1 .menu_info_4 div div:first-child,
      main div.menu_container .menu_area .item_2 .menu_info_2 div div:first-child,
      main div.menu_container .menu_area .item_2 .menu_info_3 div div:first-child,
      main div.menu_container .menu_area .item_2 .menu_info_4 div div:first-child,
      main div.menu_container .menu_area .item_3 .menu_info_2 div div:first-child,
      main div.menu_container .menu_area .item_3 .menu_info_3 div div:first-child,
      main div.menu_container .menu_area .item_3 .menu_info_4 div div:first-child,
      main div.menu_container .menu_area .dessert .menu_info_2 div div:first-child,
      main div.menu_container .menu_area .dessert .menu_info_3 div div:first-child,
      main div.menu_container .menu_area .dessert .menu_info_4 div div:first-child {
        width: 75%;
        float: left;
        padding-left: 5%; }
      main div.menu_container .menu_area .item_1 .menu_info_2 div div:last-child,
      main div.menu_container .menu_area .item_1 .menu_info_3 div div:last-child,
      main div.menu_container .menu_area .item_1 .menu_info_4 div div:last-child,
      main div.menu_container .menu_area .item_2 .menu_info_2 div div:last-child,
      main div.menu_container .menu_area .item_2 .menu_info_3 div div:last-child,
      main div.menu_container .menu_area .item_2 .menu_info_4 div div:last-child,
      main div.menu_container .menu_area .item_3 .menu_info_2 div div:last-child,
      main div.menu_container .menu_area .item_3 .menu_info_3 div div:last-child,
      main div.menu_container .menu_area .item_3 .menu_info_4 div div:last-child,
      main div.menu_container .menu_area .dessert .menu_info_2 div div:last-child,
      main div.menu_container .menu_area .dessert .menu_info_3 div div:last-child,
      main div.menu_container .menu_area .dessert .menu_info_4 div div:last-child {
        width: 15%;
        float: right;
        padding-right: 5%; }
        main div.menu_container .menu_area .item_1 .menu_info_2 div div:last-child p,
        main div.menu_container .menu_area .item_1 .menu_info_3 div div:last-child p,
        main div.menu_container .menu_area .item_1 .menu_info_4 div div:last-child p,
        main div.menu_container .menu_area .item_2 .menu_info_2 div div:last-child p,
        main div.menu_container .menu_area .item_2 .menu_info_3 div div:last-child p,
        main div.menu_container .menu_area .item_2 .menu_info_4 div div:last-child p,
        main div.menu_container .menu_area .item_3 .menu_info_2 div div:last-child p,
        main div.menu_container .menu_area .item_3 .menu_info_3 div div:last-child p,
        main div.menu_container .menu_area .item_3 .menu_info_4 div div:last-child p,
        main div.menu_container .menu_area .dessert .menu_info_2 div div:last-child p,
        main div.menu_container .menu_area .dessert .menu_info_3 div div:last-child p,
        main div.menu_container .menu_area .dessert .menu_info_4 div div:last-child p {
          text-align: end; }
    main div.menu_container .menu_area .item_1 .menu_2_dessert,
    main div.menu_container .menu_area .item_2 .menu_2_dessert,
    main div.menu_container .menu_area .item_3 .menu_2_dessert,
    main div.menu_container .menu_area .dessert .menu_2_dessert {
      padding-left: 2.2rem; }
    main div.menu_container .menu_area .item_1 .divider,
    main div.menu_container .menu_area .item_2 .divider,
    main div.menu_container .menu_area .item_3 .divider,
    main div.menu_container .menu_area .dessert .divider {
      width: 100%;
      margin: 0;
      overflow: hidden;
      text-align: center;
      font-size: x-large; }
      main div.menu_container .menu_area .item_1 .divider:hover div.left_edge,
      main div.menu_container .menu_area .item_2 .divider:hover div.left_edge,
      main div.menu_container .menu_area .item_3 .divider:hover div.left_edge,
      main div.menu_container .menu_area .dessert .divider:hover div.left_edge {
        width: 32%;
        min-width: 21.2vw;
        margin: 0;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 30px; }
        @media (max-width: 575.98px) {
          main div.menu_container .menu_area .item_1 .divider:hover div.left_edge,
          main div.menu_container .menu_area .item_2 .divider:hover div.left_edge,
          main div.menu_container .menu_area .item_3 .divider:hover div.left_edge,
          main div.menu_container .menu_area .dessert .divider:hover div.left_edge {
            width: 15%; } }
        main div.menu_container .menu_area .item_1 .divider:hover div.left_edge .arrow_left,
        main div.menu_container .menu_area .item_2 .divider:hover div.left_edge .arrow_left,
        main div.menu_container .menu_area .item_3 .divider:hover div.left_edge .arrow_left,
        main div.menu_container .menu_area .dessert .divider:hover div.left_edge .arrow_left {
          float: left;
          position: relative; }
          main div.menu_container .menu_area .item_1 .divider:hover div.left_edge .arrow_left div,
          main div.menu_container .menu_area .item_2 .divider:hover div.left_edge .arrow_left div,
          main div.menu_container .menu_area .item_3 .divider:hover div.left_edge .arrow_left div,
          main div.menu_container .menu_area .dessert .divider:hover div.left_edge .arrow_left div {
            display: inline-block; }
          main div.menu_container .menu_area .item_1 .divider:hover div.left_edge .arrow_left .triangle_1,
          main div.menu_container .menu_area .item_2 .divider:hover div.left_edge .arrow_left .triangle_1,
          main div.menu_container .menu_area .item_3 .divider:hover div.left_edge .arrow_left .triangle_1,
          main div.menu_container .menu_area .dessert .divider:hover div.left_edge .arrow_left .triangle_1 {
            border-top: 0.4vw solid #fdf1f7;
            border-bottom: 0.4vw solid #fdf1f7;
            border-right: 16vw solid; }
          main div.menu_container .menu_area .item_1 .divider:hover div.left_edge .arrow_left .triangle_2,
          main div.menu_container .menu_area .item_2 .divider:hover div.left_edge .arrow_left .triangle_2,
          main div.menu_container .menu_area .item_3 .divider:hover div.left_edge .arrow_left .triangle_2,
          main div.menu_container .menu_area .dessert .divider:hover div.left_edge .arrow_left .triangle_2 {
            border-left: 4vw solid;
            border-top: 0.4vw solid #fdf1f7;
            border-bottom: 0.4vw solid #fdf1f7;
            margin-left: -7px; }
      main div.menu_container .menu_area .item_1 .divider div.center,
      main div.menu_container .menu_area .item_2 .divider div.center,
      main div.menu_container .menu_area .item_3 .divider div.center,
      main div.menu_container .menu_area .dessert .divider div.center {
        width: 25%;
        margin: 0;
        overflow: hidden;
        display: inline-block;
        text-align: center; }
        @media (max-width: 575.98px) {
          main div.menu_container .menu_area .item_1 .divider div.center,
          main div.menu_container .menu_area .item_2 .divider div.center,
          main div.menu_container .menu_area .item_3 .divider div.center,
          main div.menu_container .menu_area .dessert .divider div.center {
            width: 40%; } }
      main div.menu_container .menu_area .item_1 .divider:hover div.right_edge,
      main div.menu_container .menu_area .item_2 .divider:hover div.right_edge,
      main div.menu_container .menu_area .item_3 .divider:hover div.right_edge,
      main div.menu_container .menu_area .dessert .divider:hover div.right_edge {
        width: 32%;
        min-width: 21.2vw;
        margin: 0;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 30px; }
        @media (max-width: 575.98px) {
          main div.menu_container .menu_area .item_1 .divider:hover div.right_edge,
          main div.menu_container .menu_area .item_2 .divider:hover div.right_edge,
          main div.menu_container .menu_area .item_3 .divider:hover div.right_edge,
          main div.menu_container .menu_area .dessert .divider:hover div.right_edge {
            width: 15%; } }
        main div.menu_container .menu_area .item_1 .divider:hover div.right_edge .arrow_right,
        main div.menu_container .menu_area .item_2 .divider:hover div.right_edge .arrow_right,
        main div.menu_container .menu_area .item_3 .divider:hover div.right_edge .arrow_right,
        main div.menu_container .menu_area .dessert .divider:hover div.right_edge .arrow_right {
          float: right;
          position: relative; }
          main div.menu_container .menu_area .item_1 .divider:hover div.right_edge .arrow_right div,
          main div.menu_container .menu_area .item_2 .divider:hover div.right_edge .arrow_right div,
          main div.menu_container .menu_area .item_3 .divider:hover div.right_edge .arrow_right div,
          main div.menu_container .menu_area .dessert .divider:hover div.right_edge .arrow_right div {
            display: inline-block; }
          main div.menu_container .menu_area .item_1 .divider:hover div.right_edge .arrow_right .triangle_1,
          main div.menu_container .menu_area .item_2 .divider:hover div.right_edge .arrow_right .triangle_1,
          main div.menu_container .menu_area .item_3 .divider:hover div.right_edge .arrow_right .triangle_1,
          main div.menu_container .menu_area .dessert .divider:hover div.right_edge .arrow_right .triangle_1 {
            font-size: 0px;
            line-height: 0%;
            width: 0px;
            border-top: 0.4vw solid #fdf1f7;
            border-bottom: 0.4vw solid #fdf1f7;
            border-right: 4vw solid; }
          main div.menu_container .menu_area .item_1 .divider:hover div.right_edge .arrow_right .triangle_2,
          main div.menu_container .menu_area .item_2 .divider:hover div.right_edge .arrow_right .triangle_2,
          main div.menu_container .menu_area .item_3 .divider:hover div.right_edge .arrow_right .triangle_2,
          main div.menu_container .menu_area .dessert .divider:hover div.right_edge .arrow_right .triangle_2 {
            font-size: 0px;
            line-height: 0%;
            width: 0px;
            border-left: 16vw solid;
            border-top: 0.4vw solid #fdf1f7;
            border-bottom: 0.4vw solid #fdf1f7;
            margin-left: -7px; }
    main div.menu_container .menu_area .item_1:hover hr,
    main div.menu_container .menu_area .item_2:hover hr,
    main div.menu_container .menu_area .item_3:hover hr,
    main div.menu_container .menu_area .dessert:hover hr {
      margin-left: auto;
      margin-right: auto;
      width: 28%;
      box-shadow: 1px 0 2px 1px #330000;
      color: #330000;
      background-color: #330000; }
      @media (max-width: 575.98px) {
        main div.menu_container .menu_area .item_1:hover hr,
        main div.menu_container .menu_area .item_2:hover hr,
        main div.menu_container .menu_area .item_3:hover hr,
        main div.menu_container .menu_area .dessert:hover hr {
          width: 20%; } }
    main div.menu_container .menu_area .item_1 .left,
    main div.menu_container .menu_area .item_2 .left,
    main div.menu_container .menu_area .item_3 .left,
    main div.menu_container .menu_area .dessert .left {
      float: left; }
    main div.menu_container .menu_area .item_1 .right,
    main div.menu_container .menu_area .item_2 .right,
    main div.menu_container .menu_area .item_3 .right,
    main div.menu_container .menu_area .dessert .right {
      float: right; }
    @media (max-width: 575.98px) {
      main div.menu_container .menu_area .item_1,
      main div.menu_container .menu_area .item_2,
      main div.menu_container .menu_area .item_3,
      main div.menu_container .menu_area .dessert {
        font-size: medium; } }

/*# sourceMappingURL=main.css.map */
