@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Parisienne&display=swap');
@import "./sections/header.scss";
@import "./sections/accueil.scss";
@import "./sections/footer.scss";
@import "./sections/pages.scss";



body {
    max-width                                             : 1500px;
    margin                                                : auto;
    font-family                                           : sans-serif;
}