$customised_info_color              : #669999;
$customised_info2_color             : #99ccff;
$customised_info3_color             : #99cbfff7;
$invert_color                       : invert($color: #000000);
$customised_light_color             : #dbd8d5;
$customised_azure_color             : #f4f9f9;
$customised_azure2_color            : #fdf1f7;
$customised_dark_color              : #a39f9f17;
$customised_dark2_color             : #a39f9f1f;
$customised_dark3_color             : #a39f9f08;
$customised_lighted_purple_color    : #ffcccc;
$customised_lighted_red_color       : #ff6666;
$customised_warning_color           : #ff9966;
$customised_warning2_color          : #cc6600;
$customised_darkeen_red_color       : #330000;
$customised_violet_color            : #f5d9d961;
$customised_violet2_color           : #b6b3c438;
$customised_violet3_color           : #b479ea;
$warning_color                      : #cc9933;
$warning2_color                     : #ffcc33;
$primary_color                      : #0033cc;
$customised_darkeen_primary_color   : #330867;
$customised_darkeen_primary2_color  : #2e0f84;
$success_color                      : #339933;
$customised_lighted_success_color   : #ccff66;