
.circle-1 {
    animation       : move 1s ease-in-out infinite;
}

.circle-1a {
    animation       : fade 1s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity     : 0;
    }

    100% {
        opacity     : 1;
    }
}

.circle-2 {
    animation       : move 1s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform   : translateX(0);
    }

    100% {
        transform   : translateX(60px);
    }
}

.circle-1a {
    margin-left     : -55px;
    opacity         : 0;
}

.circle-3 {
    animation       : circle-3 1s ease-in-out infinite;
    opacity         : 1;
}

@keyframes circle-3 {
    0% {
        opacity     : 1;
    }

    100% {
        opacity     : 0;
    }
}