/*-----------------------------------------HEADER--------------------------------------------*/
@import "../variables/colors.scss";
@import "../library_sass/mixins.scss";


%wrapp {
    width                     : 100%;
    margin                    : 0;
    overflow                  : hidden;
}

header div {
    @extend %wrapp;
    height                    : 60px;
    background-color          : $customised_info_color;
    display                   : -webkit-box;
    display                   : -ms-flexbox;
    display                   : flex;
    -webkit-box-align         : center;
    -ms-flex-align            : center;
    align-items               : center;
    -webkit-box-pack          : center;
    -ms-flex-pack             : center;
    justify-content           : center;
    padding-left              : 0;

    nav {
        font-size             : 40px;
        font-weight           : 600;

        a {
            text-decoration   : none;
            @include link;
            @include transition;

            &:hover {
                color         : $invert_color;
            }
        }
    }
}