/*-----------------------------------------LES PAGES MENUS--------------------------------------------*/
@import "../variables/colors.scss";
@import "../variables/polices.scss";
@import "../library_sass/mixins.scss";
@import "./header.scss";
@import "./footer.scss";
@import "../library_sass/underlineLeftToRight.scss";


%wrapp {
    width                                                 : 100%;
    margin                                                : 0;
    overflow                                              : hidden;
}

main div.menu_container {
    max-width                                             : 946px;
    padding                                               : 80px 125px 105px 125px;
    margin-left                                           : auto;
    margin-right                                          : auto;

    @media (max-width: 991.98px) {
        padding-right                                     : 40px;
        padding-left                                      : 40px;
    }

    @media (max-width: 575.98px) {
        padding-right                                     : 20px;
        padding-left                                      : 20px;
    }

    h2 {
        font-family                                       : sans-serif;
        text-transform                                    : none;
        text-align                                        : center;
        font-weight                                       : bold;
        font-size                                         : 40px;
    }

    .menu_area {
        padding                                           : 5.5rem 4rem 6.25rem 4rem;
        background-color                                  : $customised_lighted_purple_color;

        @media (max-width: 767.98px) {
            padding-left                                  : 2rem;
            padding-right                                 : 2rem;
        }

        @media (max-width: 575.98px) {
            font-size                                     : small;
            padding-left                                  : 0.25rem;
            padding-right                                 : 0.25rem;
        }

        >div {
            margin-bottom                                 : 5rem;
        }

        .menu_title,
        .below_title {
            font-size                                     : 2rem;
        }
    }

    .note_ench {
        font-family                                       : $font-family1;

        .menu_title .fa-music {
            @include info_style ($lc                      : $customised_lighted_purple_color, $rc: $customised_warning_color);
            font-size                                     : 3rem;
        }
    }

    .chic_fr {
        font-family                                       : $font-family2;

        .info_2 {
            @include info_style ($lc                      : $warning_color, $rc: $customised_darkeen_primary_color);
        }

        background-color                                  : $customised_azure2_color;
    }

    .delice_pap {
        font-family                                       : $font-family3;

        .info_3 {
            @include info_style ($lc                      : $primary_color, $rc: $customised_info2_color);
            ;
        }

        background-color                                  : $customised_violet2_color;
    }

    .palette_gout {
        font-family                                       : $font-family4;
        font-size                                         : larger;

        .info_4 {
            @include info_style;
        }

        background-color                                  : $customised_violet2_color;
    }


    .chic_fr .item_1 {
        color                                             : $customised_warning2_color;
        .divider .between_arrow p.center_text_color2:before {
            background-color                              : $customised_warning2_color;
        }
    }

    .chic_fr .item_2 {
        color                                             : $customised_violet3_color;
        .divider .between_arrow p.center_text_color2:before {
            background-color                              : $customised_violet3_color;
        }
    }

    .chic_fr .dessert {
        color                                             : $customised_darkeen_primary2_color;
        .divider .between_arrow p.center_text_color2:before {
            background-color                              : $customised_darkeen_primary2_color;
        }
    }


    .menu_title,
    .below_title {
        text-align                                        : center;
    }

    .below_title .fas,
    .below_title .info_1 {
        display                                           : inline;
    }

    .below_title .fas {
        @include info_style ($lc                          : $customised_lighted_red_color, $rc: $customised_warning_color);
    }

    .menu_area .item_1,
    .menu_area .item_2,
    .menu_area .item_3,
    .menu_area .dessert {
        @extend %wrapp;
        
        >.divider_line {
            display                                       : flex;
            justify-content                               : space-between;
            align-items                                   : center;
            div {
                @extend %wrapp;
                hr {
                    height                                : 4px;
                    width                                 : 250px;
                    border                                : none;
                }
                hr.line1 {
                    background-color                      : $customised_darkeen_red_color;
                }
                hr.line3 {
                    background-color                      : $primary_color;
                }
                hr.line4 {
                    background-color                      : $success_color;
                }
                p {
                    font-size                             : x-large;
                }
                p.center_text_color1:before {
                    background-color                      : $customised_darkeen_red_color;
                }
                
                p.center_text_color3:before {
                    background-color                      : $primary_color;
                }
                p.center_text_color4:before {
                    background-color                      : $success_color;
                } 
            }
            div.center_line {
                text-align                                : center;
            }
        }
        .menu_info div {
            @extend %wrapp;

            div:first-child {
                width                                     : 80%;
                float                                     : left;
            }

            div:last-child {
                width                                     : 20%;
                float                                     : right;

                p {
                    text-align                            : end;
                }
            }

        }

        .menu_info_2 div,
        .menu_info_3 div,
        .menu_info_4 div {
            width                                         : 100%;

            div:first-child {
                width                                     : 75%;
                float                                     : left;
                padding-left                              : 5%;
            }

            div:last-child {
                width                                     : 15%;
                float                                     : right;
                padding-right                             : 5%;

                p {
                    text-align                            : end;
                }
            }
        }

        .menu_2_dessert {
            padding-left                                  : 2.2rem;
        }

        .divider {
            @extend %wrapp;
            font-size                                     : x-large;
            display                                       : flex;
            justify-content                               : space-between;
            align-items                                   : center;

            div.left_edge {
                overflow                                  : hidden;
                .arrow_left {

                    display                               : flex;
                    .triangle_1 {
                        border-top                        : 0.4vw solid $customised_azure2_color;
                        border-bottom                     : 0.4vw solid $customised_azure2_color;
                        border-right                      : 16vw solid;
                    }

                    .triangle_2 {
                        border-left                       : 4vw solid;
                        border-top                        : 0.4vw solid $customised_azure2_color;
                        border-bottom                     : 0.4vw solid $customised_azure2_color;
                      
                    }
                }
            }

            div.center {
                overflow                                  : hidden;
                text-align                                : center;
            }
            

            div.right_edge {
                overflow                                  : hidden;
                .arrow_right {

                    display                               : flex;
                    
                    .triangle_1 {
                        border-top                        : 0.4vw solid $customised_azure2_color;
                        border-bottom                     : 0.4vw solid $customised_azure2_color;
                        border-right                      : 4vw solid;
                    }

                    .triangle_2 {
                        border-left                       : 16vw solid;
                        border-top                        : 0.4vw solid $customised_azure2_color;
                        border-bottom                     : 0.4vw solid $customised_azure2_color;
                        
                    }
                }
            }
        }

    }
}